










html, body, div.horizontal {
  overflow-x: hidden;
}


.horizontal {
  width: 100%;
  height: 100%;
  position: relative;
}


.horizontal:nth-of-type(odd) {
background-color: #f0f0f0;
}

.horizontal:nth-of-type(even) {
background-color: #ffffff;
}








.horizontal {
  overflow-x: hidden;
}

.horizontal .pin-wrap,
.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}


.horizontal .item {
    position: relative;
    padding: 150px 80px;
    flex: 0 0 500px;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
}

.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;    
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
}




.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
}

.horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right; 
}




.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
}

.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
}












#howidesign{
  height: 100%!important;
 
  width: 100vw!important;
}



#text{
  transition: all 1s ease-in-out;
}






  @media only screen and (max-width: 1200px) {






  }